.tlmargins {
    margin-top: 2vw;
    margin-left: 2vw;
}

.tlrmargins {
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.align-left {
    float: 'left';
    width: auto;
}

.debug {
    background-color: lightblue;
    border: 2px solid;
    border-color: black;
}

.debug-red {
    background-color: palevioletred;
    border: 2px solid;
    border-color: black;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
}